In [28]:
import pandas as pd
import numpy as np

In [3]:
j_b_data= pd.read_csv("/Users/nataliakeane/natalia-keane.github.io/materials-data-analysis/james_bond_data.csv").convert_dtypes()

In [4]:
j_b_data.head()

,Release,Movie,Bond,Bond_Car_MFG,US_Gross,World_Gross,Budget ($ 000s),Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Martinis,Kills_Bond
0,"June, 1962",Dr. No,Sean Connery,Sunbeam,"$16,067,035.00","$59,567,035.00","$1,000.00",110 mins,7.3,7.7,2,4
1,"August, 1963",From Russia with Love,Sean Connery,Bentley,"$24,800,000.00","$78,900,000.00","$2,000.00",115 mins,7.5,8.0,0,11
2,"May, 1964",Goldfinger,Sean Connery,Aston Martin,"$51,100,000.00","$124,900,000.00","$3,000.00",110 mins,7.8,8.4,1,9
3,"September, 1965",Thunderball,Sean Connery,Aston Martin,"$63,600,000.00","$141,200,000.00","$9,000.00",130 mins,7.0,6.8,0,20
4,"November, 1967",You Only Live Twice,Sean Connery,Toyota,"$43,100,000.00","$111,600,000.00","$9,500.00",117 mins,6.9,6.3,1,21

In [5]:
new_column_names = {
            "Release": "release_date",
            "Movie": "movie_title",
            "Bond": "bond_actor",
            "Bond_Car_MFG": "car_manufacturer",
            "US_Gross": "income_usa",
            "World_Gross": "income_world",
            "Budget ($ 000s)": "movie_budget",
            "Film_Length": "film_length",
            "Avg_User_IMDB": "imdb",
            "Avg_User_Rtn_Tom": "rotten_tomatoes",
            "Martinis": "martinis_consumed",
            "Kills_Bond": "bond_kills",
}
data = j_b_data.rename(columns=new_column_names)

In [6]:
data.columns

Index(['release_date', 'movie_title', 'bond_actor', 'car_manufacturer',
       'income_usa', 'income_world', 'movie_budget', 'film_length', 'imdb',
       'rotten_tomatoes', 'martinis_consumed', 'bond_kills'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       27 non-null     string
 1   movie_title        27 non-null     string
 2   bond_actor         27 non-null     string
 3   car_manufacturer   27 non-null     string
 4   income_usa         27 non-null     string
 5   income_world       27 non-null     string
 6   movie_budget       27 non-null     string
 7   film_length        27 non-null     string
 8   imdb               26 non-null     Float64
 9   rotten_tomatoes    26 non-null     Float64
 10  martinis_consumed  27 non-null     Int64
 11  bond_kills         27 non-null     Int64
dtypes: Float64(2), Int64(2), string(8)
memory usage: 2.8 KB

In [8]:
data.loc[data.isna().any(axis="columns")]

,release_date,movie_title,bond_actor,car_manufacturer,income_usa,income_world,movie_budget,film_length,imdb,rotten_tomatoes,martinis_consumed,bond_kills
10,"April, 1977",The Spy Who Loved Me,Roger Moore,Lotus,"$46,800,000.00","$185,400,000.00","$14,000.00",125 mins,<NA>,<NA>,1,31

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       27 non-null     string
 1   movie_title        27 non-null     string
 2   bond_actor         27 non-null     string
 3   car_manufacturer   27 non-null     string
 4   income_usa         27 non-null     string
 5   income_world       27 non-null     string
 6   movie_budget       27 non-null     string
 7   film_length        27 non-null     string
 8   imdb               26 non-null     Float64
 9   rotten_tomatoes    26 non-null     Float64
 10  martinis_consumed  27 non-null     Int64
 11  bond_kills         27 non-null     Int64
dtypes: Float64(2), Int64(2), string(8)
memory usage: 2.8 KB

In [14]:
data = (
       j_b_data.rename(columns=new_column_names)
       .combine_first(
           pd.DataFrame({"imdb": {10: 7.1}, "rotten_tomatoes": {10: 6.8}})
       ))

In [29]:
data = data.replace(r'^\s*$', np.nan, regex=True)

In [30]:
data[ ["income_usa", "income_world", "movie_budget", "film_length"]
  ].head()

         income_usa       income_world movie_budget film_length
0   $16,067,035.00     $59,567,035.00    $1,000.00     110 mins
1   $24,800,000.00     $78,900,000.00    $2,000.00     115 mins
2   $51,100,000.00    $124,900,000.00    $3,000.00     110 mins
3   $63,600,000.00    $141,200,000.00    $9,000.00     130 mins
4   $43,100,000.00    $111,600,000.00    $9,500.00     117 mins

In [31]:
data["income_usa"].replace("[$,]", "", regex=True).astype("Float64")
print(data["income_usa"])

ValueError: could not convert string to float: ' $16,067,035.00 '

In [32]:
data = data.assign(
          income_usa = lambda data: (
            data["income_usa"]
               .replace("[$,]", "", regex=True)
                .astype(float)
           ),
          film_length=lambda data: (
                data["film_length"].str.removesuffix("mins")
                .astype("Int64")
            ),
)

ValueError: could not convert string to float: ' $16,067,035.00 '

In [ ]:

        income_world=lambda data: (
        data["income_world"].
        replace(" [$,]", "", regex=True)
        .astype("Float64")
    ),
        movie_budget=lambda data: (
        data["movie_budget"].
        replace(" [$,]", "", regex=True)
        .astype("Float64")
    ),
        film_length=lambda data: (
        data["film_length"].
        replace(" [$,]", "", regex=True)
        .astype("Float64"))

In [ ]:
data[ ["income_usa", "income_world", "movie_budget", "film_length"]
  ].head()